{% extends 'base.html.twig' %}

{% block body %}
    <div class="w-75 mt-5 mx-auto">
        {% include 'event/_form.html.twig' %}
        {% include 'event/_liste.html.twig' %}
    </div>

{% endblock %}

{% block title %}

{% endblock %}

