{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title %}
    <h1 class="display-2">Administration </h1>
{% endblock %}

   {% block content %}


       {{ encore_entry_script_tags('app') }}
       <div class="row w-50 mx-auto mt-3">
           <div class="col-12">
               {{ render_chart(chart) }}
           </div>
       </div>
   {% endblock content %}




