{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title %}
    <div class="jumbotron">
        <h1 class="display-4">Administration</h1>
        <p class="lead">Bienvenue dans l'interface d'administration du site ENI-Sortie</p>
    </div>
{% endblock %}


