{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title %}
    <div class="jumbotron">
        <h1 class="display-4">Administration</h1>
        <p class="lead">Bienvenue dans l'interface d'administration du site ENI-Sortie</p>
        <button type="button" href="{{ path('app_login', {'/': '/'}) }}" class="btn btn-primary btn-lg">Retour au site</button>

    </div>
{% endblock %}


