{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Affichage d'un lieu {% endblock %}
{% block stylesheets%}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
              integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
              crossorigin=""/>
{% endblock %}
{% block body %}

    <div class="container-fluid pt-4">

    <h1>Affichage d'un lieu </h1>

        {{ event.location.name }} : { "lattitude" :{{ event.location.latitude }} , "longitude" : {{ event.location.longitude }}}
    </div>

    <div id="map" style="width: 600px; height: 400px; position: relative">

    </div>

    <!-- Pour charger la librairie -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
            integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
            crossorigin=""></script>
    <!-- Pour charger la carte avec la methode map -->
    <script>
        let adminLocations = {
            "Nantes" : { "lat" : 47.218102, "long":  -1.552800 },
            "La Roche Sur Yon" : { "lat" : 46.670502, "long":  -1.426000 },
            "Grenoble" : { "lat" : 45.171547, "long":  5.722387 },
            "Paris" : { "lat" : 48.852969, "long":  2.349903 }

        }

        // Initialisation de la carte
        let map = L.map('map').setView([48.852969 ,2.349903], 6);
        //Chargement des tuiles
        L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
            maxZoom: 20,
            minZoom: 1,
            attribution: '&copy; OpenStreetMap France | &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        //Personnalisation du marqueur (il faut regler le décalage de l icone par rapport au bord avec iconAnchor
        // et la Popup avec popupAnchor
        let icon = L.icon({
            iconUrl : '/build/images/icon.png',
            iconSize : [50,50],
            iconAnchor : [25,50],
            popupAnchor : [0,-50]
        })

        //on parcours le tableau de villes adminLocations
        for (adminLocation in adminLocations){
            //Placement du Marqueur
            let marker = L.marker([adminLocations[adminLocation].lat,adminLocations[adminLocation].long], {icon:icon}).addTo(map);
            //Attribution de son Popup
            marker.bindPopup("<p>"+adminLocation+"</p>")
        }

    </script>
{% endblock %}
